// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}