@mixin action-styles {

    div.flex.items-center.mr-3 {
        
        // Select control
        select.form-control.form-select.mr-2 {
            background-color: transparent;
            color: black;
            border: none;
            margin-right: 0;
        }
        
        // Run button
        button.btn.btn-default.btn-primary.flex.items-center.justify-center.px-3 {
            min-width: initial;
            border-radius: 0;
            border: none;
            background-color: transparent;
            padding: 0;
            
            &:hover {
                border: none!important;
                background-color: transparent!important;
            }
            
            svg {
                fill: #409AEE;
            }
            
        }
        
    }

}