// Edit
a[dusk$="-edit-button"], a[dusk$="-edit-attached-button"] {
    position: relative;
    background-color: initial!important;
    border: none!important;    
    
    svg {
        opacity: 0;
    }
    
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: 0;
        width: 16px;
        height: 16px;
        background: url("/storage/edit-light.svg") no-repeat;
    }	        
    
    &:hover:after {
    	background: url("/storage/edit.svg") no-repeat;
    }

}

// Remove
button[dusk$="-delete-button"]:not([data-testid="cancel-button"]) {
    position: relative;
    background-color: initial!important;
    border: none!important;    
        
    svg {
        opacity: 0;
    }
    
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: 0;
        width: 17px;
        height: 18px;
        background: url("/storage/remove-light.svg") no-repeat;
    }	        
    
    &:hover:after {
    	background: url("/storage/remove.svg") no-repeat;
    }

}

// Detail (hide)
a[dusk$="-view-button"] {
	display: none;
}

// Restore
button[dusk$="-restore-button"] {
    color: $dark-gray;

    &:hover {
        color: $text-gray;
    }
}