.relationship-tabs-panel.card {
	background-color: $light-gray;
	box-shadow: none;
	border: none;

	// Tabs detail
	div.tabs-wrap {
		background-color: $light-gray;
		margin-bottom: 40px;
		border: none;
		font-weight: bold;
		font-family: GoshaSans;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.05em;

		.tabs {
			background-color: $lightest-gray;
			border-radius: 30px;
			padding-left: 30px;
			padding-right: 30px;

			// Tab
			.tab {
			    padding-top: 14px;
			    padding-bottom: 14px;				
				padding-left: 30px;
				padding-right: 30px;
				cursor: pointer;
				user-select: none;
				border-top: 8px solid $lightest-gray;
				border-bottom: 8px solid $lightest-gray;

				// Selected tab
				&.active {
					border-top: 8px solid $light-blue;
					border-bottom: 8px solid $blue;
					background-color: $light-blue;
					color: $blue;
				}

			}

		}

	}

}

.relationship-tabs-panel .tabs::-webkit-scrollbar {
    height: 0!important;
}